.git/objects/bb/ce27659e0fc2b7ed2a64c127849380a477099b
.git/objects/b5/0e4b6bccdebde3d57f575c7fbeb24bec277f10
.git/objects/9f/22372b978b2472067042e2f23909a6d89a3472
.git/objects/ef/eae0bc7a1dbc0cbb1bba021d1cde24a975a6fe
util/tmp/dl/data/MNIST/raw/t10k-images-idx3-ubyte
util/tmp/dl/data/MNIST/raw/train-images-idx3-ubyte
util/tmp/dl/data/MNIST/raw/train-images-idx3-ubyte.gz
util/tmp/dl/data/hot-dog-10k_c.zip
